a {
    text-decoration-line: none;	
}

a:hover {
    text-decoration-line: underline;
    cursor: hand;
}

.ui-widget {
    font-size: small;
}

.ui-column-header {
    font-size: small;
}

.ui-column-title {
    font-size: small;
}

.ui-datatable {
    font-size: small;
}

.ui-datatable-header {
    font-size: small;
}

.ui-datatable-footer {
    font-size: small;
}

.ui-datatable-column {
    font-size: small;
}

.ui-sortable-column {
    font-size: small;
}

.ui-sortable-column-icon {
    font-size: small;
}

.ui-datatable-data {
    font-size: small;
}

div.ui-growl {
    left: 10;  
}

.nav-burger {
    align-self: center
}

.nav-burger:hover{
    transform: scale(1.1);
}

.nav-logout {
    align-self: center
}

.nav-logout:hover{
    transform: scale(1.1);
}

.store-icon {
    background-image: url("#{resource['images/icons/store_icon.svg']}") !important;
}

.queue-icon {
    background-image: url("#{resource['images/icons/queue_icon.svg']}") !important;
}

.menu-icon {
    background-image: url("#{resource['images/icons/menu_icon.svg']}") !important;
}

.table-icon {
    background-image: url("#{resource['images/icons/table_icon.svg']}") !important;
}

.kitchen-icon {
    background-image: url("#{resource['images/icons/kitchen_icon.svg']}") !important;
}

.transaction-icon {
    background-image: url("#{resource['images/icons/transaction_icon.svg']}") !important;
}

.employees-icon {
    background-image: url("#{resource['images/icons/employees_icon.svg']}") !important;
}

.home-icon {
    background-image: url("#{resource['images/icons/home_icon.svg']}") !important;
}

.cooking-icon {
    background-image: url("#{resource['images/icons/cook_icon.svg']}") !important;
}

.serve-icon {
    background-image: url("#{resource['images/icons/serve_icon.svg']}") !important;
}

.header-text:hover {
    text-decoration: none;
}

.header-text {
    font-family: Georgia, serif;
    color: #515151;
    font-weight: 700;
    font-style: normal;
}

/*
Remove this as it messes up the components
* {
    margin: 0;
    padding: 0;
    font-family: verdana,arial;	
}

body {
    display: block;
    width: 99%;
    margin: 0.5% 0.5% 0.5% 0.5%;
}

p {
    padding: 5px 0px 5px 0px;
}

table {
    border-style: solid; 
    border-width: 1px;
    font-size: smaller;
}

th, td {
    border-style: solid; 
    border-width: 1px;
    border-spacing: 1px;
    padding: 3px;
}

a {
    text-decoration-line: none;	
}

a:hover {
    text-decoration-line: underline;
    cursor: hand;
}

.header {
    display: block;
    padding: 3px 3px 3px 3px;
    clear: both;
    background-color: whitesmoke;
}

.loginbox {
    display:block;
    text-align: right;
    padding: 3px 3px 3px 3px;
}

.mainmenu {
    display: block;
    width: 15%;
    margin: 0.5% 0% 0.5% 0%;
    padding: 3px 3px 3px 3px;
    float: left;
    background-color: whitesmoke;
}

.content {
    display: block;
    width: 67.5%;
    margin: 0.5% 0.5% 0.5% 0.5%;
    padding: 3px 3px 3px 3px;
    float: left;
}

.sidebar {
    display: block;
    width: 15%;
    margin: 0.5% 0% 0.5% 0%;
    padding: 3px 3px 3px 3px;
    float: right;
    background-color: silver;
    text-align: center;
}

.footer {
    display: block;
    margin: 0.5% 0% 0% 0%;
    padding: 3px 3px 3px 3px;
    clear: both;
    background-color: whitesmoke;
}

.advertisement {
    margin: 5px 0px 5px 0px;
}

.menuHeader1 {
    padding: 3px 3px 3px 3px;
    color: white;
    background-color: grey;
}

.menuHeader2 {
    margin-top: 5px;
    padding: 3px 3px 3px 3px;	
    background-color: silver;
}

.secondaryMenu {
    margin-left: 15px;
    padding: 3px 3px 3px 3px;
}

.cellnumber {
    text-align: right;
}

.rowheader {
    font-weight: bold;
}

.infoText {
    color: blue;
}

.errorText {
    color: red;
}

.infoTexts {
    list-style-type: none;
    margin-left: 20px;
    color: blue;
}

.errorTexts {
    list-style-type: none;
    margin-left: 20px;
    color: red;
}

.errorTextsNoMarginLeft {
    list-style-type: none;
    color: red;
}

.infoTextsWithBullet {
    margin-left: 20px;
    color: blue;
}

.errorTextsWithBullet {
    margin-left: 20px;
    color: red;
}

.dataTable {
    border-style: solid;
    border-width: thin;
}

.dataTableLabel {
    width: 20%;
    border-style: solid;
    border-width: thin;
}

.dataTableValue {
    width: 80%;
    border-style: solid;
    border-width: thin;
}

.dataTable3Label {
    width: 20%;
    border-style: solid;
    border-width: thin;
}

.dataTable3Value {
    width: 60%;
    border-style: solid;
    border-width: thin;
}

.dataTable3Message {
    width: 20%;
    border-style: solid;
    border-width: thin;
}

.motdTitle {
    padding: 3px 3px 3px 3px;
    background-color: grey;
    color: white;
    font-weight: bold;
}

.motdMessage {
    padding: 3px 3px 3px 3px;
    background-color: lightsteelblue;
}

.breadcrumb {
    display: block;
    width: 100%;
    margin: -2px 0% 10px 0%;
    padding: 3px 3px 3px 3px;
    float: left;
    background-color: #484848;
    color: white;    
    font-size: smaller;
}*/